<a href="https://colab.research.google.com/github/Kaleab1999/web-scrapping/blob/main/amazon_laptop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Web scraping

the aim of this work is:
1. scrape price of laptop from Amazon website
2. make some transformation
3. save to csv / excel

In [1]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np

In [2]:
url='https://www.amazon.in/s?k=laptop&crid=34RVUW1XGD89L&sprefix=laptop%2Caps%2C280&ref=nb_sb_noss_1'
H=({'User-Agent':
           'Mozilla/5.0 (X11; Linux x86_64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',
                           'Accept-Language': 'en-US, en;q=0.5'})
page=requests.get(url,headers=H)

In [3]:
soup=BeautifulSoup(page.content,'lxml')

In [4]:
name=soup.find('h2',class_='a-size-mini a-spacing-none a-color-base s-line-clamp-2')
name.text

"Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6'' (29.46cm) HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/Office 2021/3months Game Pass/Platinum Grey/1.2Kg), 81VT009UIN  "

In [5]:
price=soup.find('span',class_='a-offscreen')
price.text

'₹23,890'

In [6]:
orginal_price=soup.find('span',class_='a-offscreen')
orginal_price.text

'₹23,890'

In [7]:
product_name=[]
prices=[]

In [8]:
for data in soup.findAll('div',class_='a-section a-spacing-small a-spacing-top-small'):
        name=soup.find('h2', attrs={'class':'a-size-mini a-spacing-none a-color-base s-line-clamp-2'})
        price=soup.find('span', attrs={'class':'a-offscreen'})
       
    

        product_name.append(name.text)
        prices.append(price.text)

In [9]:
df=pd.DataFrame({'Product Name':product_name,'price':prices})
df.head(10)

                                        Product Name    price
0  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
1  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
3  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
4  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
5  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
6  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
7  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
8  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890
9  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  ₹23,890

In [10]:
df['price']=df['price'].str.replace('₹','')
df['price']=df['price'].str.replace(',','')
df['price']=df['price'].astype(int)
df.head()

                                        Product Name  price
0  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890
1  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890
3  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890
4  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890

In [12]:
df['brand']=df['Product Name'].str.split(" ", n = 1, expand = True)[0]
df.head()

                                        Product Name  price   brand
0  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo
1  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo
3  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo
4  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo

In [13]:
df.shape

(23, 3)

In [14]:
df.to_csv('amazon laptop.csv',index=False)

In [15]:
amazon_laptop=pd.read_csv('amazon laptop.csv')
amazon_laptop.head()

                                        Product Name  price   brand
0  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo
1  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo
2  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo
3  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo
4  Lenovo IdeaPad Slim 1 Intel Celeron N4020 11.6...  23890  Lenovo