## web scraping

installing autoscraper

In [18]:
!pip install autoscraper

Requirement already satisfied: autoscraper in c:\users\kiit\anaconda3\lib\site-packages (1.1.12)
Requirement already satisfied: requests in c:\users\kiit\anaconda3\lib\site-packages (from autoscraper) (2.26.0)
Requirement already satisfied: lxml in c:\users\kiit\anaconda3\lib\site-packages (from autoscraper) (4.6.3)
Requirement already satisfied: bs4 in c:\users\kiit\anaconda3\lib\site-packages (from autoscraper) (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\kiit\anaconda3\lib\site-packages (from bs4->autoscraper) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\kiit\anaconda3\lib\site-packages (from beautifulsoup4->bs4->autoscraper) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\kiit\anaconda3\lib\site-packages (from requests->autoscraper) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\kiit\anaconda3\lib\site-packages (from requests->autoscraper) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\kiit\anaconda3\lib\site-packages (from requests->autoscraper) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\kiit\anaconda3\lib\site-packages (from requests->autoscraper) (3.2)

importting Autoscraper

In [1]:
from autoscraper import AutoScraper

defining scrapping elements (url and wanted list)

In [6]:
url='https://www.flipkart.com/search?q=samsung+m12&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_7_8_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_7_8_na_na_na&as-pos=7&as-type=RECENT&suggestionId=samsung+m12&requestId=04ac6375-9459-4539-9343-8677190c824f&as-searchtext=samsung%20'
wanted=['SAMSUNG Galaxy M12 (Blue, 64 GB)','₹10,539']

initiating autoscraper

In [7]:
scraper=AutoScraper()
result=scraper.build(url,wanted)
print(result)

['SAMSUNG Galaxy M12 (Blue, 64 GB)', 'SAMSUNG Galaxy M12 (White, 64 GB)', 'SAMSUNG Galaxy M12 (Black, 64 GB)', 'SAMSUNG Galaxy M12 (White, 128 GB)', 'SAMSUNG Galaxy M12 (Blue, 128 GB)', 'SAMSUNG Galaxy M12 (Black, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)', 'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)', 'SAMSUNG Galaxy F22 (Denim Black, 64 GB)', 'SAMSUNG Galaxy F22 (Denim Black, 128 GB)', 'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)', 'SAMSUNG Galaxy F12 (Sea Green, 64 GB)', 'SAMSUNG Galaxy F12 (Celestial Black, 64 GB)', 'SAMSUNG Galaxy F12 (Sky Blue, 64 GB)', 'SAMSUNG Galaxy F12 (Sea Green, 128 GB)', 'SAMSUNG Galaxy F12 (Sky Blue, 128 GB)', 'SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)', 'SAMSUNG Galaxy M33 5G (Mystique Green, 128 GB)', 'SAMSUNG M32 5G (Slate Black, 128 GB)', 'SAMSUNG Galaxy A73 5G (Awesome Mint, 256 GB)', 'SAMSUNG M32 5G (Sky blue, 128 GB)', '₹10,539', '₹14,999', '₹17,169', '₹12,499', '₹44,999', '₹10,409', '₹10,478', '₹13,690', '₹13,499', '₹12,505', '₹10,499', '₹13,999', '₹9,999', '₹10,999', '₹16,690', '₹17,779']

to assign label for the scrapped data

In [8]:
scraper.get_result_similar("https://www.flipkart.com/search?q=samsung+m12&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_7_8_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_7_8_na_na_na&as-pos=7&as-type=RECENT&suggestionId=samsung+m12&requestId=04ac6375-9459-4539-9343-8677190c824f&as-searchtext=samsung%20",grouped=True)

{'rule_7ga6': ['SAMSUNG Galaxy M12 (Blue, 64 GB)',
  'SAMSUNG Galaxy M12 (White, 64 GB)',
  'SAMSUNG Galaxy M12 (Black, 64 GB)',
  'SAMSUNG Galaxy M12 (White, 128 GB)',
  'SAMSUNG Galaxy M12 (Blue, 128 GB)',
  'SAMSUNG Galaxy M12 (Black, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 64 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy F12 (Sea Green, 64 GB)',
  'SAMSUNG Galaxy F12 (Celestial Black, 64 GB)',
  'SAMSUNG Galaxy F12 (Sky Blue, 64 GB)',
  'SAMSUNG Galaxy F12 (Sea Green, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy F12 (Sky Blue, 128 GB)',
  'SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)',
  'SAMSUNG Galaxy M33 5G (Mystique Green, 128 GB)',
  'SAMSUNG M32 5G (Slate Black, 128 GB)',
  'SAMSUNG Galaxy A73 5G (Awesome Mint, 256 GB)',
  'SAMSUNG M32 5G (Sky blue, 128 GB)'],
 'rule_xb73': ['SAMSUNG Galaxy M12 (Blue, 64 GB)',
  'SAMSUNG Galaxy M12 (White, 64 GB)',
  'SAMSUNG Galaxy M12 (Black, 64 GB)',
  'SAMSUNG Galaxy M12 (White, 128 GB)',
  'SAMSUNG Galaxy M12 (Blue, 128 GB)',
  'SAMSUNG Galaxy M12 (Black, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 64 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy F12 (Sea Green, 64 GB)',
  'SAMSUNG Galaxy F12 (Celestial Black, 64 GB)',
  'SAMSUNG Galaxy F12 (Sky Blue, 64 GB)',
  'SAMSUNG Galaxy F12 (Sea Green, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy F12 (Sky Blue, 128 GB)',
  'SAMSUNG Galaxy M33 5G (Deep Ocean Blue, 128 GB)',
  'SAMSUNG Galaxy M33 5G (Mystique Green, 128 GB)',
  'SAMSUNG M32 5G (Slate Black, 128 GB)',
  'SAMSUNG Galaxy A73 5G (Awesome Mint, 256 GB)',
  'SAMSUNG M32 5G (Sky blue, 128 GB)'],
 'rule_tvk5': ['₹10,539', '₹14,999', '₹17,169', '₹12,499', '₹44,999'],
 'rule_mry5': ['₹10,409',
  '₹10,539',
  '₹10,478',
  '₹13,690',
  '₹13,499',
  '₹12,505',
  '₹10,499',
  '₹14,999',
  '₹12,499',
  '₹10,499',
  '₹12,499',
  '₹14,999',
  '₹13,999',
  '₹9,999',
  '₹9,999',
  '₹9,999',
  '₹10,999',
  '₹13,999',
  '₹10,999',
  '₹16,690',
  '₹16,690',
  '₹17,169',
  '₹44,999',
  '₹17,779']}

label of scraped data and save the model

In [9]:
scraper.set_rule_aliases({'rule_mry5': 'price', 'rule_7ga6':'product name'})
scraper.keep_rules(['rule_mry5','rule_7ga6'])
scraper.save('flipkart_data')

loading the model

In [10]:
scraper.load('flipkart_data')

appling the model for other website

In [11]:
result2=scraper.get_result_similar('https://www.flipkart.com/search?q=samsung+m11&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_10_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_10_na_na_na&as-pos=3&as-type=RECENT&suggestionId=samsung+m11&requestId=bd854cce-9c3e-40e6-9f81-359126f857b1&as-searchtext=samsung%20m1',group_by_alias=True)

In [12]:
result2

{'product name': ['SAMSUNG Galaxy M11 (Black, 32 GB)',
  'SAMSUNG Galaxy M11 (Metallic Blue, 64 GB)',
  'SAMSUNG Galaxy M11 (Violet, 32 GB)',
  'SAMSUNG Galaxy M11 (Black, 64 GB)',
  'SAMSUNG Galaxy M11 (Violet, 64 GB)',
  'SAMSUNG Galaxy M11 (Metallic Blue, 32 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 64 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy F12 (Sea Green, 64 GB)',
  'SAMSUNG Galaxy F12 (Celestial Black, 64 GB)',
  'SAMSUNG Galaxy F12 (Sea Green, 128 GB)',
  'SAMSUNG Galaxy A52 (Awesome Blue, 128 GB)',
  'SAMSUNG Galaxy F12 (Sky Blue, 64 GB)',
  'SAMSUNG Galaxy M12 (Blue, 64 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy F12 (Sky Blue, 128 GB)',
  'SAMSUNG M32 5G (Slate Black, 128 GB)',
  'SAMSUNG Galaxy M12 (White, 64 GB)',
  'SAMSUNG Galaxy M12 (Black, 64 GB)'],
 'price': ['₹12,999',
  '₹10,990',
  '₹11,399',
  '₹11,999',
  '₹13,199',
  '₹10,999',
  '₹12,499',
  '₹10,499',
  '₹10,499',
  '₹14,999',
  '₹12,499',
  '₹14,999',
  '₹13,999',
  '₹9,999',
  '₹9,999',
  '₹10,999',
  '₹23,375',
  '₹9,999',
  '₹10,409',
  '₹13,999',
  '₹10,999',
  '₹16,999',
  '₹10,539',
  '₹10,478']}

concat the scraped data from the two sites

In [13]:
result2

{'product name': ['SAMSUNG Galaxy M11 (Black, 32 GB)',
  'SAMSUNG Galaxy M11 (Metallic Blue, 64 GB)',
  'SAMSUNG Galaxy M11 (Violet, 32 GB)',
  'SAMSUNG Galaxy M11 (Black, 64 GB)',
  'SAMSUNG Galaxy M11 (Violet, 64 GB)',
  'SAMSUNG Galaxy M11 (Metallic Blue, 32 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 64 GB)',
  'SAMSUNG Galaxy F22 (Denim Blue, 64 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy F22 (Denim Black, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)',
  'SAMSUNG Galaxy F12 (Sea Green, 64 GB)',
  'SAMSUNG Galaxy F12 (Celestial Black, 64 GB)',
  'SAMSUNG Galaxy F12 (Sea Green, 128 GB)',
  'SAMSUNG Galaxy A52 (Awesome Blue, 128 GB)',
  'SAMSUNG Galaxy F12 (Sky Blue, 64 GB)',
  'SAMSUNG Galaxy M12 (Blue, 64 GB)',
  'SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)',
  'SAMSUNG Galaxy F12 (Sky Blue, 128 GB)',
  'SAMSUNG M32 5G (Slate Black, 128 GB)',
  'SAMSUNG Galaxy M12 (White, 64 GB)',
  'SAMSUNG Galaxy M12 (Black, 64 GB)'],
 'price': ['₹12,999',
  '₹10,990',
  '₹11,399',
  '₹11,999',
  '₹13,199',
  '₹10,999',
  '₹12,499',
  '₹10,499',
  '₹10,499',
  '₹14,999',
  '₹12,499',
  '₹14,999',
  '₹13,999',
  '₹9,999',
  '₹9,999',
  '₹10,999',
  '₹23,375',
  '₹9,999',
  '₹10,409',
  '₹13,999',
  '₹10,999',
  '₹16,999',
  '₹10,539',
  '₹10,478']}

In [14]:
import pandas as pd

converting the scraped data to dataframe

In [15]:
new=pd.DataFrame.from_dict(result2)

In [16]:
new

                                    product name    price
0              SAMSUNG Galaxy M11 (Black, 32 GB)  ₹12,999
1      SAMSUNG Galaxy M11 (Metallic Blue, 64 GB)  ₹10,990
2             SAMSUNG Galaxy M11 (Violet, 32 GB)  ₹11,399
3              SAMSUNG Galaxy M11 (Black, 64 GB)  ₹11,999
4             SAMSUNG Galaxy M11 (Violet, 64 GB)  ₹13,199
5      SAMSUNG Galaxy M11 (Metallic Blue, 32 GB)  ₹10,999
6        SAMSUNG Galaxy F22 (Denim Blue, 128 GB)  ₹12,499
7        SAMSUNG Galaxy F22 (Denim Black, 64 GB)  ₹10,499
8         SAMSUNG Galaxy F22 (Denim Blue, 64 GB)  ₹10,499
9      SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)  ₹14,999
10      SAMSUNG Galaxy F22 (Denim Black, 128 GB)  ₹12,499
11  SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)  ₹14,999
12     SAMSUNG Galaxy F23 5G (Aqua Blue, 128 GB)  ₹13,999
13         SAMSUNG Galaxy F12 (Sea Green, 64 GB)   ₹9,999
14   SAMSUNG Galaxy F12 (Celestial Black, 64 GB)   ₹9,999
15        SAMSUNG Galaxy F12 (Sea Green, 128 GB)  ₹10,999
16     SAMSUNG Galaxy A52 (Awesome Blue, 128 GB)  ₹23,375
17          SAMSUNG Galaxy F12 (Sky Blue, 64 GB)   ₹9,999
18              SAMSUNG Galaxy M12 (Blue, 64 GB)  ₹10,409
19  SAMSUNG Galaxy F23 5G (Forest Green, 128 GB)  ₹13,999
20         SAMSUNG Galaxy F12 (Sky Blue, 128 GB)  ₹10,999
21          SAMSUNG M32 5G (Slate Black, 128 GB)  ₹16,999
22             SAMSUNG Galaxy M12 (White, 64 GB)  ₹10,539
23             SAMSUNG Galaxy M12 (Black, 64 GB)  ₹10,478

to remove unwanted symbol '₹' inorder to change to Ethiopia Currency (Birr)

In [27]:
new['price']=new['price'].replace({'₹':'',',':''},regex=True)

to change datatype of price column

In [28]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product name  24 non-null     object
 1   price         24 non-null     object
dtypes: object(2)
memory usage: 512.0+ bytes

In [30]:
new['price']=new['price'].astype(float)

changing the currency

In [32]:
new['price']=new['price'].mul(0.67)

In [33]:
new.rename(columns={'price':'price in ETB'})

                                   product name  price in ETB
0              SAMSUNG Galaxy M11 (Black 32 GB)       8709.33
1      SAMSUNG Galaxy M11 (Metallic Blue 64 GB)       7363.30
2             SAMSUNG Galaxy M11 (Violet 32 GB)       7637.33
3              SAMSUNG Galaxy M11 (Black 64 GB)       8039.33
4             SAMSUNG Galaxy M11 (Violet 64 GB)       8843.33
5      SAMSUNG Galaxy M11 (Metallic Blue 32 GB)       7369.33
6        SAMSUNG Galaxy F22 (Denim Blue 128 GB)       8374.33
7        SAMSUNG Galaxy F22 (Denim Black 64 GB)       7034.33
8         SAMSUNG Galaxy F22 (Denim Blue 64 GB)       7034.33
9      SAMSUNG Galaxy F23 5G (Aqua Blue 128 GB)      10049.33
10      SAMSUNG Galaxy F22 (Denim Black 128 GB)       8374.33
11  SAMSUNG Galaxy F23 5G (Forest Green 128 GB)      10049.33
12     SAMSUNG Galaxy F23 5G (Aqua Blue 128 GB)       9379.33
13         SAMSUNG Galaxy F12 (Sea Green 64 GB)       6699.33
14   SAMSUNG Galaxy F12 (Celestial Black 64 GB)       6699.33
15        SAMSUNG Galaxy F12 (Sea Green 128 GB)       7369.33
16     SAMSUNG Galaxy A52 (Awesome Blue 128 GB)      15661.25
17          SAMSUNG Galaxy F12 (Sky Blue 64 GB)       6699.33
18              SAMSUNG Galaxy M12 (Blue 64 GB)       6974.03
19  SAMSUNG Galaxy F23 5G (Forest Green 128 GB)       9379.33
20         SAMSUNG Galaxy F12 (Sky Blue 128 GB)       7369.33
21          SAMSUNG M32 5G (Slate Black 128 GB)      11389.33
22             SAMSUNG Galaxy M12 (White 64 GB)       7061.13
23             SAMSUNG Galaxy M12 (Black 64 GB)       7020.26

exporting the scraped data to local files, index=false , because by defalt it generate index

In [34]:
new.to_csv('flipkart_samsung.csv',index=False)

In [36]:
df=pd.read_csv('flipkart_samsung.csv')
df.sort_values('price',ascending=False)

                                   product name     price
16     SAMSUNG Galaxy A52 (Awesome Blue 128 GB)  15661.25
21          SAMSUNG M32 5G (Slate Black 128 GB)  11389.33
9      SAMSUNG Galaxy F23 5G (Aqua Blue 128 GB)  10049.33
11  SAMSUNG Galaxy F23 5G (Forest Green 128 GB)  10049.33
12     SAMSUNG Galaxy F23 5G (Aqua Blue 128 GB)   9379.33
19  SAMSUNG Galaxy F23 5G (Forest Green 128 GB)   9379.33
4             SAMSUNG Galaxy M11 (Violet 64 GB)   8843.33
0              SAMSUNG Galaxy M11 (Black 32 GB)   8709.33
10      SAMSUNG Galaxy F22 (Denim Black 128 GB)   8374.33
6        SAMSUNG Galaxy F22 (Denim Blue 128 GB)   8374.33
3              SAMSUNG Galaxy M11 (Black 64 GB)   8039.33
2             SAMSUNG Galaxy M11 (Violet 32 GB)   7637.33
15        SAMSUNG Galaxy F12 (Sea Green 128 GB)   7369.33
5      SAMSUNG Galaxy M11 (Metallic Blue 32 GB)   7369.33
20         SAMSUNG Galaxy F12 (Sky Blue 128 GB)   7369.33
1      SAMSUNG Galaxy M11 (Metallic Blue 64 GB)   7363.30
22             SAMSUNG Galaxy M12 (White 64 GB)   7061.13
8         SAMSUNG Galaxy F22 (Denim Blue 64 GB)   7034.33
7        SAMSUNG Galaxy F22 (Denim Black 64 GB)   7034.33
23             SAMSUNG Galaxy M12 (Black 64 GB)   7020.26
18              SAMSUNG Galaxy M12 (Blue 64 GB)   6974.03
13         SAMSUNG Galaxy F12 (Sea Green 64 GB)   6699.33
14   SAMSUNG Galaxy F12 (Celestial Black 64 GB)   6699.33
17          SAMSUNG Galaxy F12 (Sky Blue 64 GB)   6699.33