<a href="https://colab.research.google.com/github/Kaleab1999/web-scrapping/blob/main/Flipkart_laptop_price_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Web scraping

The aim of this work is:
1. scrape price of laptop from flipkart sites
2. transformation on the data
3. save the scraped data to csv files

Web scraping is method to get data from websites. Scraping publicly available information on the web in an automated way is legal as long as the scraped data is not used for any harmful purpose or directly attacking the scraped website's business or operations.

If the website hasn't API, but they allow to scrape data.

why data scraping?


*   Competitive Analysis
*   Lead generation
*   Brand Monitoring
*   Social Media Scraping
*   Research and Development
*   Extracting Financial Statement
*   Contact Information Accessibility

there are many libraries for scraping data.
1. BeautifulSoup
2. Scrapy
3. AutoScraper

here, I use BeautifulSoup.

Using requests library, we can fetch the content from the URL given and beautiful soup library helps to parse it and fetch the details the way we want.

import beautifulsoup and request.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

the requests library needs the URL of the website.

the url is: https://www.flipkart.com/search?q=laptop&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&as-pos=1&as-type=RECENT&suggestionId=laptop%7CLaptops&requestId=2fd6f432-1a46-4bb2-a2d7-9104f6b46cde&as-searchtext=laptop

In [2]:
req= requests.get('https://www.flipkart.com/search?q=laptop&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_6_na_na_na&as-pos=1&as-type=RECENT&suggestionId=laptop%7CLaptops&requestId=2fd6f432-1a46-4bb2-a2d7-9104f6b46cde&as-searchtext=laptop')

Beautifull library needs two parameters: the requests object and the data structure of the web. 

the data structure of the web means like HTML,XML,...

In [4]:
soup=BeautifulSoup(req.content,'html.parser')

In [5]:
soup.title

to extract the product name.
1. click inspect elements on the webpage
2. copy the div class name.

  elements       class name
*. product_name=_4rR01T
*. rating= gUuXy-
*. price: _30jeq3 _1_WHN1

In [7]:
name=soup.find('div',class_='_4rR01T')

In [8]:
name.text

'DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/256 GB SSD/Windows 11 Home) INSPIRON 3515 Thin and Light...'

In [9]:
rating=soup.find('div',class_='_3LWZlK')

In [10]:
rating.text

'4.2'

In [11]:
price=soup.find('div',class_='_30jeq3 _1_WHN1')

In [12]:
price.text

'₹31,990'

In [13]:
deliver_type=soup.find('div',class_='_3tcB5a p8ucoS')

In [14]:
deliver_type.text

'Free delivery'

creating empty list to store the extracted data.

In [17]:
names=[]
prices=[]
ratings=[]
deliveries=[]

extracting all important data.

In [20]:
for data in soup.findAll('div',class_='_3pLy-c row'):
        name=soup.find('div', attrs={'class':'_4rR01T'})
        price=soup.find('div', attrs={'class':'_30jeq3 _1_WHN1'})
        rating=soup.find('div', attrs={'class':'_3LWZlK'})
        delivery = soup.find('div', attrs={'class':'_3tcB5a p8ucoS'})

        names.append(name.text)
        prices.append(price.text)
        ratings.append(rating.text)
        deliveries.append(delivery.text)

Changing the list to dataframe.

 Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

In [21]:
df=pd.DataFrame({'Product Name':names,'rating':ratings,'price':prices,'mode of delivery':deliveries})
df.head(10)

,Product Name,rating,price,mode of delivery
0,DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...,4.2,"₹31,990",Free delivery
1,DELL Vostro Ryzen 3 Dual Core R3-3250U - (8 GB...,3.8,"₹29,990",Free delivery
2,Lenovo IdeaPad 3 Core i3 10th Gen - (8 GB/256 ...,4.3,"₹33,490",Free delivery
3,Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...,4.3,"₹38,250",Free delivery
4,MSI Core i3 10th Gen - (8 GB/512 GB SSD/Window...,4.4,"₹31,990",Free delivery
5,ASUS VivoBook 15 (2021) Core i5 10th Gen - (8 ...,4.2,"₹45,990",Free delivery
6,DELL Inspiron Athlon Dual Core 3050U - (8 GB/2...,4.2,"₹29,990",Free delivery
7,DELL Inspiron Ryzen 5 Hexa Core R5-5500U - (8 ...,4.9,"₹66,490",Free delivery
8,ASUS VivoBook 15 (2022) Core i3 10th Gen - (8 ...,4.3,"₹35,990",Free delivery
9,HP Core i3 11th Gen - (8 GB/256 GB SSD/Windows...,4.3,"₹37,990",Free delivery

from the names column of the dataframe we can extract the brand of product.

In [24]:
df['brand']=df['Product Name'].str.split(" ", n = 1, expand = True)[0]
df.head()

,Product Name,rating,price,mode of delivery,brand
0,DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...,4.2,"₹31,990",Free delivery,DELL
1,DELL Vostro Ryzen 3 Dual Core R3-3250U - (8 GB...,3.8,"₹29,990",Free delivery,DELL
2,Lenovo IdeaPad 3 Core i3 10th Gen - (8 GB/256 ...,4.3,"₹33,490",Free delivery,Lenovo
3,Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...,4.3,"₹38,250",Free delivery,Lenovo
4,MSI Core i3 10th Gen - (8 GB/512 GB SSD/Window...,4.4,"₹31,990",Free delivery,MSI

from the prices column I can remove '₹' to change the data type.

In [29]:
df['price']=df['price'].str.replace('₹','')
df['price']=df['price'].str.replace(',','')
df['price']=df['price'].astype(int)
df.head()

,Product Name,rating,price,mode of delivery,brand
0,DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...,4.2,31990,Free delivery,DELL
1,DELL Vostro Ryzen 3 Dual Core R3-3250U - (8 GB...,3.8,29990,Free delivery,DELL
2,Lenovo IdeaPad 3 Core i3 10th Gen - (8 GB/256 ...,4.3,33490,Free delivery,Lenovo
3,Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...,4.3,38250,Free delivery,Lenovo
4,MSI Core i3 10th Gen - (8 GB/512 GB SSD/Window...,4.4,31990,Free delivery,MSI

Save the scraped data to csv file.

In [32]:
df.to_csv('out.csv', index=False)

let's load the saved document

In [33]:
saved=pd.read_csv('out.csv')
saved.head()

,Product Name,rating,price,mode of delivery,brand
0,DELL Inspiron Ryzen 3 Dual Core 3250U - (8 GB/...,4.2,31990,Free delivery,DELL
1,DELL Vostro Ryzen 3 Dual Core R3-3250U - (8 GB...,3.8,29990,Free delivery,DELL
2,Lenovo IdeaPad 3 Core i3 10th Gen - (8 GB/256 ...,4.3,33490,Free delivery,Lenovo
3,Lenovo IdeaPad 3 Core i3 11th Gen - (8 GB/512 ...,4.3,38250,Free delivery,Lenovo
4,MSI Core i3 10th Gen - (8 GB/512 GB SSD/Window...,4.4,31990,Free delivery,MSI